body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #eceff1;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 770px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 5% 5%;
  }
  .recharts-text {
    font-size: 0.6rem;
  }
  .grid {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 770px) {
  .container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding: 2% 10%;
  }
  .recharts-text {
    font-size: 0.8rem;
  }
  .grid {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 2fr;
  }
}

.box-parent {
  position: relative;
  width: 100%;
}

.box-parent:before {
  content: '';
  display: block;
  padding-top: 56.25%;
}

.box-child {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.card {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  padding: 3%;
  border-radius: 1%;
  background-color: white;
}

.brand {
  font-size: 20px;
}

.site-header {
  position: relative;
  background-color: #546e7a;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  color: white;
}

.site-header__wrapper {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* 通常のcheckboxをオフに */
input[type='checkbox'] {
  display: none;
}
.checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 15px;
  position: relative;
  width: auto;
  color: #37474f;
}
.checkbox::before {
  background: #fff;
  border: 1px solid #90a4ae;
  border-radius: 10%;
  content: '';
  display: block;
  height: 16px;
  left: -5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}
.checkbox::after {
  border-right: 3px solid #81d4fa;
  border-bottom: 3px solid #81d4fa;
  content: '';
  display: block;
  height: 9px;
  left: 0px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}
input[type='checkbox']:checked + .checkbox::after {
  opacity: 1;
}
.recharts-legend-item-text {
  font-size: 0.5rem;
}
.recharts-legend-item {
  margin: 0;
}
